<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link rel="stylesheet" href="static/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Lato:400,400i,700|Montserrat:400,600,700,800" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src="static/js/materialize-settings.js" type="text/javascript" charset="utf-8"></script>
        <title>Receiption</title>
		
		<link href="static/css/c3.css" rel = "stylesheet">
		<script src="{{url_for('static', filename='js/d3.min.js')}}" charset = "utf-8"></script>
		<script src="{{url_for('static',filename='js/c3.min.js')}}"></script>

    </head>
    <body>
        <nav class="nav-extended">
            <div class="nav-wrapper indigo darken-4">
                <a href="#" class="brand-logo center">my billz</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                </ul>
            </div>
            <div class="nav-content">
              <ul class="tabs indigo darken-4">
                <li class="tab"><a href="#upload_receipts">upload new receipts</a></li>
                <li class="tab"><a href="#past_receipts">view past receipts</a></li>
              </ul>
            </div>

        </nav>
        <br />
            <div class="container">
                <div id="form-card" class="card indigo darken-3"> 
                    <p>Upload a New Receipt</p>
                    <form action="/upload" method="post" enctype=multipart/form-data>
                        <div class="file-field input-field">
                            <div class="btn-small">
                                <span class="white-text">Choose File</span>
                                <input type="file" name="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate white-text" type="text">
                            </div>
                            <button id="photo-submit" class="btn-small white-text" type=submit value=Upload>Upload
                            </button>
                        </div>
                    </form>
                </div> 
            </div>
        <div class="container">
                <div id="receipts-form-card" class="card blue-grey lighten-5">
                    <p>View Past Receipts</p>
                    <form action="#" method="post" enctype=multipart/form-data>
                        <div class="input-field col s12">
                            <select>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                            <label>Number of Receipts</label>
                        </div>
                        <button id="receipts-submit" class="btn grey-text text-darken-2 amber accent-2" type=submit value=Upload>Upload
                        </button>
                    </form>
                </div>
            </div> 
        </div>
        <div id="receipt_list">
            
        </div>



	<div id="chart"></div>
	<script>
	var chart = c3.generate({
                data: {
                        columns: [
                                ['data1', 30, 200, 100, 400, 150, 250],
                                ['data2', 50, 20, 10, 40, 15, 25]
                        ]
                }
        });
	</script>



	


        <script src="static/js/bundle.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>
